@font-face {
    font-family: "Futura";
    src: url("../fonts/futura_light.ttf");
}

body {
    background-color: #fcfcfc;
    color: #575757;
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;
    font-family: "futura" !important;
}

.header-space {
    min-height: 100px;
}

@media (min-width: 1200px) {
    .container {
        width: 1030px !important;
    }
}

.logo {
    color: gray;
    letter-spacing: 0.0238095238095238em;
    font-size: 3.6em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-family: "futura";
    display: inline-block;
    line-height: 1.2em;
    /*    margin: 0;*/
    letter-spacing: 0.07em;
}

/*.nav {
    padding-right: 3.0em;
}*/

#about {
    font-size: 1.4em;
}

.slider-image {
    min-height: 350px;
    overflow: hidden;
    max-height: 350px;
}

    .slider-image > img {
        background-size: cover;
    }

.logo-desc {
    color: #222;
    letter-spacing: 0.0238095238095238em;
    font-size: 16px;
    /*    text-transform: uppercase;*/
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-family: "futura";
    display: inline-block;
    line-height: 1.2em;
    /*    margin: 0;*/
    margin-left: 0.5em;
}

.logo:hover,
.logo:active,
.logo:focus {
    color: #222;
    text-decoration: none;
}

.cust-nav > li > a {
    text-transform: uppercase;
    color: #999;
    margin-right: 0px;
    position: relative;
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: 1;
}

    .cust-nav > li > a:hover,
    .cust-nav > li > a:focus {
        background-color: #fcfcfc !important;
        color: #111;
    }
/*
.content-holder:hover .text-holder{
    opacity: 1;
}
*/
.image-holder {
    max-height: 310px;
    overflow: hidden;
}

.image-holder > img {
    display: block;
    width: 100%;
    height: 320px;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

        /*.image-holder > img:hover {
            width: 100%;
            height: 310px;
        }*/

/*.image-holder-2 > img:hover {
    width: 100%;
    height: 220px;
}*/

.image-holder-2 {
    min-height: 230px;
    overflow: hidden;
    max-height: 230px;
}

    .image-holder-2 > img {
        display: block;
        width: 100%;
        height: 230px;
        overflow: hidden;
        cursor: pointer;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

.text-holder {
 position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    width: 87.5%;
    height: 230px;
    text-align: center;
    z-index: 5;
    top: 40px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.text-holder  > span {
    display: table-cell;
    vertical-align: middle;
}


.text-holder-homepage {
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    width: 90.5%;
    height: 310px;
    text-align: center;
    z-index: 5;
    top: 40px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.4em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

    .text-holder-homepage > span {
        display: table-cell;
        vertical-align: middle;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

span.text-holder {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
    font-size: 14px;
    /*
line-height: 1.6em;
text-transform: uppercase;
text-decoration: none;
letter-spacing: .06em;
text-align: center;
font-weight: 300;
font-style: normal;
color: #404040;
padding-top: 15px;
height: 56px;
overflow: hidden;
*/
    opacity: 0;
}

.navbar {
    margin-bottom: 0px;
}

span.text-holder span {
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.content-holder {
    margin-top: 40px;
    display: block;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    width: 96%;
}

    .content-holder:hover {
        text-decoration: none;
    }

#myCarousel {
    position: relative;
}

.detailed-image-holder > img {
    max-height: 100%;
    height: auto;
    display: block;
    width: auto;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
/*    padding-top: 15px;*/
    text-align: center;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}



.container_2 {
    max-height: 100%;
    height: auto;
    display: block;
    width: auto;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    padding-top: 15px;
    text-align: left;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    text-decoration: none;
}


.detailed-content {
    margin-top: 50px;
    font-family: verdana;
}

.detailed-header {
    color: #222;
    font-size: 1.4em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
    padding-right: 90px;
}

.detailed-header-details {
    font-size: 0.5em;
    font-family: verdana;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    padding-right: 90px;
}

/*.detailed-media-list {
    margin-right: -2.5em;
}*/

.detailed-description {
    font-size: 0.9em;
    font-family: verdana;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    padding-right: 90px;
}

.detailed-description-about {
    font-size: 0.9em;
    font-family: verdana;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    padding-left: 90px;
}

.detailed-image {
    text-align: center;
    padding-top: 25px;
    max-width: 800px;
    /*
    max-height: 100%;
      width:auto;
max-width: 720px;
display: block;
*/
    /*height: auto;*/
    /* text-align: center; */
    /*
margin: 25px auto;
cursor: pointer;
*/
}

.backtowork-content-holder {
    padding-top: 25px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.footer {
    text-align: center;
    padding: 50px 0px;
    bottom: -100px;
    width: 100%;
    min-height: 100px;
    position: absolute;
}

.col-md-3 {
    width: 32%;
}

.col-md-1 {
    width: 7%;
}

.col-md-8 {
    width: 60%;
}

.col-md-4 {
    /*    margin-left: 4.5em*/
}

.profile-pic-cont {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    height: 300px;
    background-image: url("../images/sim_profile.jpg");
    background-size: cover;
}
