@font-face {
    font-family: "dinfont";
    src: url("../fonts/DIN.TTF");
}
body {
background-color: #fcfcfc;
color: #575757;
background-image: none;
background-position: top left;
background-size: auto;
background-attachment: scroll;
background-repeat: repeat;
font-family: "dinfont" !important;
}
.header-space {
    min-height:100px;
}
.logo {
    color: #222;
    letter-spacing: 0.0238095238095238em;
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    line-height: 1.2em;
    margin: 0;
}
    .logo:hover,
    .logo:active,
    .logo:focus {
         color: #222;
         text-decoration:none;
    }
.cust-nav > li > a {
    text-transform:uppercase;
    color: #999;
}
.cust-nav > li >a:hover,
.cust-nav > li >a:focus {
  background-color:#fcfcfc !important;
  color: #111;
}
.image-holder > img {
    max-width: 100%;
width: auto;
display: block;
height: auto;
margin: 0 auto;
cursor: pointer;
min-height: 360px;
}
.text-holder {
    font-size: 14px;
line-height: 1.6em;
text-transform: uppercase;
text-decoration: none;
letter-spacing: .06em;
text-align: center;
font-weight: 300;
font-style: normal;
color: #404040;
padding-top: 15px;
height: 56px;
overflow: hidden;
}
.content-holder:hover,
.content-holder:focus,
.content-holder:active {
    text-decoration:none;
}
.content-holder {
    margin-top: 55px;
display: block;
}
.detailed-image-holder > img {
max-height: 100%;
height: auto;
display: block;
width: auto;
margin: 0 auto;
cursor: pointer;
width: 100%;
padding-top:15px;
}

.detailed-content {
    margin-top:50px;
}

.detailed-header {
    color: #222;
    font-size: 1.4em;
line-height: 1.2em;
text-transform: uppercase;
text-decoration: none;
letter-spacing: .06em;
font-weight: 300;
font-style: normal;
}

.detailed-header-details {
    color: #222;
    font-size: 1.3em;
line-height: 1.2em;
text-transform: uppercase;
text-decoration: none;
letter-spacing: .06em;
font-weight: 300;
font-style: normal;
}
.detailed-description {
    font-size: 13px;
line-height: 1.8em;
text-transform: none;
text-decoration: none;
font-weight: 300;
font-style: normal;
margin: 0 0 1em;
}
.detailed-image {
    text-align: center;
padding-top: 25px;
    max-width: 800px;
    
/*
    max-height: 100%;
      width:auto;
max-width: 720px;
display: block;
*/
/*height: auto;*/
/* text-align: center; */
/*
margin: 25px auto;
cursor: pointer;
*/
}
.backtowork-content-holder {
    padding-top: 25px;
}
    .backtowork-content-holder > div > a {
           color: #999;
    }
     .backtowork-content-holder > div > a:hover {
          text-decoration:none;
            color: #111;
    }
     html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
    text-align: center;
    padding:50px 0px;
  bottom: 0;
  width: 100%;
  min-height:100px;
  position:absolute;
}

.col-md-3 {
    width: 32%
}
.col-md-1 {
    width: 7%
}
.col-md-8 {
    width: 60%
}
