<div class="container">
    <div class="row">
        <div class="detailed-content">
            <div class="col-md-6">
                <div class="detailed-content-holder">
                    <div class="detailed-image-holder">
                        <img src="../images/image1.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="detailed-header">Simra Chopra.</div>
                <div class="detailed-description">
                    <p>Simran Chopra is a new media designer from National Institute of Design. She is interested in Food Design.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                </div>
            </div>
        </div>

    </div>
</div>
