<div class="container">
    <div class="row">
        <div class="detailed-content">
            <div class="col-md-5">
                <div class="detailed-content-holder">
                    <div class="detailed-image-holder">
                        <img src="../images/sim_profile.jpg" />
                    </div>
                </div>
            </div>
<!--            <div class="col-md-1"></div>-->
            <div class="col-md-7">

                <div class="detailed-description-about">
                    <p>I am a multifaceted individual who likes to think, question, innovate and build. My interest and areas of work are varied and can range from being a cook, an investigator, a designer, a tinkerer, an ethnographer, an urban farmer, a food activist, an educator, an artist or maybe more.</p>

<p>From early on in life, I have always been a person who likes to question and contemplate. My experiences have taught me what matters. So, I like to build things for social justice especially in the areas of food, education and economics.</p>

<p>Professionally I like to work across design, art and research to create thought-provoking experiences. Graduate programme in New Media Design from the National Institute of Design reignited the tinkering child in me that I had lost somewhere. It introduced new perspectives that created a kaleidoscope of opportunities for me. The possibility to merge technology with art and design helps me create unique experiences. However, I like to question the role of technology in my work and society in general.</p>

<p>I have reached somewhere but the journey is long and the learning is vast.</p>
                </div>
<!--
                <div class="tags-list">
                    <ul>
                        <li>Food Activism</li>
                        <li>Ethnography Research</li>
                        <li>Experimental Interfaces</li>
                        <li>Graphics & Communication</li>
                    </ul>
                </div>
-->
            </div>
        </div>

    </div>
</div>
