<div class="container" ng-controller="detailedViewController">
    <div class="row">
        <div class="detailed-content">
            <div class="col-md-6">
                <div>
                    <div class="detailed-header">{{item.detaildHeader}}</div>
                    <br />
                    <div class="detailed-description">
                        <!--                         {{item.description | nl2br}}-->
                        <p ng-bind-html="item.description | nl2br"></p>
                    </div>
                    <br />
                    <div class="detailed-header-detail" ng-show="item.awards.length > 0">Awards: </div>
                    <ul>
                        <li ng-repeat="paper in item.awards">{{paper.title}}</li>
                    </ul>
                    <div class="detailed-header-detail" ng-show="item.workExhibited.length > 0">Work exhibited at: </div>
                    <ul>
                        <li ng-repeat="workExhibited in item.workExhibited" style="padding-right: 90px">{{workExhibited.title}}
                        </li>
                    </ul>
                    <div class="detailed-header-detail" ng-show="item.researchPapers.length > 0">Research Papers: </div>
                    <ul>
                        <li ng-repeat="paper in item.researchPapers" style="padding-right: 90px">{{paper.title}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detailed-media-list">
                    <div class="detailed-videos-list">
                        <div ng-repeat="video in item.videos">
                            <iframe ng-src="{{video.videoLink | youtubeEmbedUrl }}" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                            <p><a href="https://vimeo.com/135540900"></a></p>
                            <div class="text-holder">{{video.caption}}</div>
                        </div>
                    </div>
                    <div class="detailed-image-list">
                    <div ng-repeat="image in item.images_only">
                        <div class="detailed-image-holder">
                            <img src="{{image.imageLink}}" />
                        </div>
                      <br /><br />
                        
                    </div>
                </div>

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" ng-show="item.images.length > 0">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item " ng-repeat="img in item.images" ng-class='{active:$first}' >
                                <img src="{{img.imageLink}}" />
                                <div class="carousel-caption">
                                       {{img.caption }}
                                </div>
                            </div>    
                        </div>

                        <!-- Controls -->
                        
                            <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <br /><br />
                    
                     <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel" ng-show="item.images_2.length > 0">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item " ng-repeat="img in item.images_2" ng-class='{active:$first}' >
                                <img src="{{img.imageLink}}" />
                                <div class="carousel-caption">
                                       {{img.caption }}
                                </div>
                            </div>
                            
                        </div>
                         <!-- Controls -->
                        <a class="left carousel-control" data-target="#carousel-example-generic-2" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" data-target="#carousel-example-generic-2" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <br />
                <div ng-show="item.scribd !== undefined">
                <p  style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">   
                <a title="{{item.scribd.title}}" href="{{item.scribd.htmllink}}"  style="text-decoration: underline;" >{{item.scribd.title}}</a></p>
                <iframe class="scribd_iframe_embed" ng-src="{{item.scribd.embedlink | youtubeEmbedUrl}}" data-auto-height="false" data-aspect-ratio="undefined" scrolling="no" id="doc_37660" width="100%" height="600" frameborder="0"></iframe>
                <br />
                    </div>
                <div ng-show="item.drive !== undefined">
                    <iframe ng-src="{{item.drive.embedlink | youtubeEmbedUrl}}" width="485px" height="400px"></iframe>
                </div>
            </div>
        </div>
    </div>

    
</div>

<style>
    .carousel-inner img {
        margin: 0 auto;
    }
</style>