<div class="container">
    <div class="row">
        <div class="detailed-content">
        <div class="col-md-3">
            <div>
                <div class="detailed-header">A Punjabi Palimpsest: Cultural Memory and Amnesia at the Aam Khas Bhag</div>
                <br />
                <div class="detailed-description">
                    <p>This project explores the dynamics of applying participant observation, anthropological filmmaking, oral history and interactive design to tackle issues of ‘cultural amnesia’ in a town of post-partition Punjab. The project’s aim was to forge new relationships with a contested past in order to protect Mughal heritage sites that become targets of vandalism as a result of past politico-religious tensions. Concentrating on Sirhind, a province in Punjab, located on the historical Grand Trunk Road.</p>

<p>Working as an ethnographer and interaction designer in the 3 member team to develop immersive narrations of oral histories. An initial period of research and a subsequent stage of skill sharing, students of local colleges researched the heritage of their town as cultural palimpsest and presented their work in one of town's oldest Mughal monuments, 'Aam Khas Bagh', a 17th century royal Mughal Sarai. The public event was attended by 400 people.</p>

<p>Project funding was by the Arts & Humanities Research Council, United Kingdom. It was an assignment based undertaking for the project “A Punjabi Palimpsest: Cultural Memory and Amnesia at the Aam Khas Bhag”. The endeavour was undertaken under the guidance of University of Surrey and British Council. This was in partnership with Cultural Resource Conservation Initiative, to build ground up community based heritage conservation systems. The intention of the project being to nominate the 'Grand Trunk Road' as a UNESCO world heritage site.</p>
                </div>
                <br />
                <div class="detailed-header-detail"> Work exhibited at: </div>
                <ul>
                  <li><a href="#">Unbox Festival</a></li>
                  <li><a href="#/detailedView/2">Alchemy Festival</a></li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="detailed-image-list">
                <div class="detailed-image-holder">
                    <img src="../images/akb/1.JPG" />
                </div>
                <div class="detailed-image-holder">
                    <img src="../images/akb/3.JPG" />
                </div>
                 <div class="detailed-image-holder">
                    <img src="../images/akb/4_1.JPG" />
                </div>
                <div class="detailed-image-holder">
                    <img src="../images/akb/4_2.JPG" />
                </div>
                <div class="detailed-image-holder">
                    <img src="../images/akb/5.JPG" />
                </div>
                <div class="detailed-image-holder">
                    <img src="../images/akb/6.JPG" />
                </div>
                <div class="detailed-image-holder">
                    <img src="../images/akb/7.JPG" />
                </div>
            </div>
        </div>
        </div>

    </div>

     <div class="row">
         
         <div class="col-md-12">
             <div class="backtowork-content-holder">
             <div class="pull-left"><a href="">Back to Work</a></div>
              <div class="pull-right"><a href="">prev</a>&nbsp;/&nbsp;<a href="#">next</a></div>
                 </div>
         </div>
        <div class="col-md-4">
            <a class="content-holder" href="#/detailedView">
                <div class="image-holder">
                    <img src="../images/image1.jpg" /></div>
                <div class="text-holder">mountains</div>
            </a>
        </div>
           <div class="col-md-4">
            <a class="content-holder" href="#/detailedView">
                <div class="image-holder">
                    <img src="../images/image2.jpg" /></div>
                <div class="text-holder">mountains</div>
            </a>
        </div>
           <div class="col-md-4">
            <a class="content-holder" href="#/detailedView">
                <div class="image-holder">
                    <img src="../images/image3.jpg" /></div>
                <div class="text-holder">mountains</div>
            </a>
        </div>
          <div class="col-md-4">
            <a class="content-holder" href="#/detailedView">
                <div class="image-holder">
                    <img src="../images/image1.jpg" /></div>
                <div class="text-holder">mountains</div>
            </a>
        </div>
           <div class="col-md-4">
            <a class="content-holder" href="#/detailedView">
                <div class="image-holder">
                    <img src="../images/image2.jpg" /></div>
                <div class="text-holder">mountains</div>
            </a>
        </div>
           <div class="col-md-4">
            <a class="content-holder" href="#/detailedView">
                <div class="image-holder">
                    <img src="../images/image3.jpg" /></div>
                <div class="text-holder">mountains</div>
            </a>
        </div>
          
    </div>
</div>
