<div class="container" ng-controller="detailedViewController">
    <div class="row">
        <div class="detailed-content">
            <div class="col-md-3">
                <div>
                    <div class="detailed-header">{{item.detaildHeader}}</div>
                    <br />
                    <div class="detailed-description">
                        <!-- {{item.description | nl2br}}-->
                        <p ng-bind-html="item.description | nl2br"></p>
                    </div>
                    <br />
                    <div class="detailed-header-detail" ng-show="item.workExhibited.length > 0">Work exhibited at: </div>
                    <ul>
                        <li ng-repeat="workExhibited in item.workExhibited">
                            <a href="#/{{workExhibited.link}}">{{workExhibited.title}}</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="detailed-videos-list">
                    <div ng-repeat="video in item.videos" >
                        <video width="100%" height="400" controls poster="{{video.poster}}">
                            <source src="{{video.videoLink}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="text-holder">{{video.caption}}</div>
                    </div>
                </div>

                <div class="detailed-image-list">
                    <div ng-repeat="image in item.images">
                        <div class="detailed-image-holder">
                            <img src="{{image.imageLink}}" />
                        </div>
                        <div class="text-holder">{{image.caption}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="backtowork-content-holder">
                <div class="pull-left"><a href="#/">Back to Work</a></div>
                <div class="pull-right"><a href="">prev</a>&nbsp;/&nbsp;<a href="#">next</a></div>
            </div>
        </div>
        <div ng-show="noDataFound">
            <h2>No Data Found</h2>
        </div>
        <div class="col-md-4" ng-repeat="item in list">
            <a class="content-holder" href="#/detailedView/{{item.detailedLinkID}}">
                <div class="image-holder">
                    <img src="{{item.coverImage}}" />
                </div>
                <div class="text-holder">{{item.title}}</div>
            </a>
        </div>

    </div>
</div>
