<div class="container" ng-controller="homeController">
    <div class="row">
        <div class="col-md-6" ng-repeat="item in items">
            <a class="content-holder" href="#/{{item.detailedLinkID}}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                <div class="image-holder index_{{$index % 2}}">
                    <img src="{{item.coverImage}}"/>
<!--                    <span class="text-holder"><span>{{item.title}}</span></span>-->
                </div>
                <div class="text-holder-homepage" ng-show="hoverEdit">
                    <span>{{item.title}}</span></div>
            </a>
        </div>          
    </div>
</div>
