<div class="container">
    <div class="row">
        <div class="detailed-content">
            
            <div class="col-md-6">

<!--                <div class="detailed-header">Simran Chopra.</div>-->
                <div class="detailed-description">

<p>simchopra@gmail.com | www.simranchopra.com | + 91 9535509911</p>


EDUCATION
                    <ul>
<li>M. Des. in New Media Design | 2010 – 2013 | National Institute of Design (NID), India</li>
<li>B.A.(Hons.) Communication Design | 2003 – 2007 | Nottingham Trent University (NTU), United Kingdom | Pearl Academy, India </li>
                    </ul>

  

PROFESSIONAL EXPERIENCE
                    <ul>
                    <li>Sr. User Experience Researcher | 2014 - Present | Samsung R&D Institute, Bangalore India</li>
                        <li>Project Manager, Sr. Design Researcher | 2013 – 2014 | Centre for Knowledge Studies & Bill & Melinda Gates Foundation</li>
                        <li>Design Fellow | 2013 | Art and Humanitarian Research Council, British Council Creative Economy Fellowship & University of Surrey, United Kingdom</li>
                        <li>Communication Designer | 2010 | PriceWaterhouseCoopers, Gurgaon, India</li>
                        <li>Sr. Visualiser | 2007 – 2009 | Dentsu Communication & Citizen Dentsu, New Delhi, India</li>
                        <li>Visualiser | 2006 – 2007 | McCann-Erickson (Design), New Delhi, India</li>
                    </ul>

EXHIBITIONS
<ul>
    <li>2015, Second International Conference on Food Design</li>                
    <li>2014, Khoj International Artists Association, Artist in residence – InContext:Food, Art, Ecology</li>
    <li>2013, International Conference: 'Interpretation of Built Heritage', Chandigarh, India</li>
    <li>2013, Temporary Public Event, Aam Khas Bagh (Royal Mughal Sarai), Sirhind, Rural Punjab, India</li>
    <li>2013, Alchemy festival, SouthBank Centre, London, United Kingdom</li>
    <li>2012, National Institute of Design, India</li>
                    </ul>
HONOURS
                    <ul>
                        <li>2013, Awarded research funding for the project “A Punjabi Palimpsest: Cultural Memory and Amnesia at the Aam Khas Bagh” by the Art & Humanitarian Research Council, United Kingdom</li>
                        <li> 2013, Creative Economy Fellowship, British Council - Unbox (Project UnMap)</li>
                        <li>2013, Selected as one of the top 15 applicants for Stanford India BioDesign Fellowship</li>
                        <li>2013, Semifinalist, OzCHI 2012 Australia, 24hr Student Design Challenge</li>
                        <li>2012, Awarded silver for 'Re-imagining Adobe Illustrator for tablets', USID India, UX Design</li>
                        <li>2011, Awarded creative excellence, in touch based interface design ADOBE DESIGN LABS, INDIA</li>
                    </ul>

PUBLICATIONS 
                    <ul>
                    <li>Field Immersion on Fitness Activities in Urban India, HCI International 2016, Toronto, Canada</li>
                        <li>Cultural Amnesia at the 'Aam Khaas Bagh', Society for Applied Anthropology 2016, Vancouver, Canada</li>
                        <li>Interactive Number Learning System for Differently Abled Children, HWWE 2015, India</li>
                        <li>Story of the Urban Food Chain, 2nd International Conference on Food Design 2015, New York, USA</li>
                        <li>Appetite: A board game on food, with food, 1st European Conference on Understanding Food Design:
  From User Experience to People Centered Design, Milan, Italy</li>
                    </ul>
WORKSHOPS
                    <ul>
                    <li>2015, User research in corporates: National Institute of Design, New Media Design, India</li>
                        <li>2013, Unmap: Alchemy Festival, SouthBank Centre, London, United Kingdom</li>
                        <li>2013, Designing Interactions: Sri Guru Granth Sahib World University, Sirhind, India</li>
                        <li>2013, Android Development & Physical Computing: DAIICT, IEEE Summer School, India</li>
                        <li>2010, Sustainability in Design Now, Lens Conference 2010, Bangalore, India</li>
                        <li>2009, Narrative Art, cartooning workshop: Viveka Foundation at IHC, New Delhi, India</li>
                    </ul>
                    
INTEREST AREAS
                    <ul>
                    <li>Ethnographic and Social research</li>
                        <li>Installation Art, New Media Artefacts</li>
                        <li>Food Design Experiences and Sustainability</li>
                        <li>Service Design and Critical Design Thinking</li>
                    </ul>
                    
SKILLS
                    <ul>
                    <li>Theoretical or Philosophical research, Ethnography & Research methods</li>
                        <li>Participatory Design Methods & Design thinking</li>
                        <li>Conceptualisation and Visualisation: Adobe Design Suite, Corel Draw, Final Cut Pro</li>
                        <li>Physical Computing and Prototyping Tools: Processing, Arduino</li>
                    </ul>
                </div>
                
            </div>

            <div class="col-md-6">
                <div class="profile-pic">
                    <div class="profile-pic-cont">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
